<div class="wrapper wrapper-content  animated fadeInRight">
  <div class="row">
      <div class="col-lg-4">
          <app-jobs-request>
          </app-jobs-request>

      </div>
      <div class="col-lg-4">
        <app-jobs-status>
        </app-jobs-status>
      </div>
      <div class="col-lg-4">
            <app-jobs-finish></app-jobs-finish>
      </div>

  </div>

  <div class="row">
      <div class="col-lg-12">

          <h4>
              Serialised Output
          </h4>
          <p>
              Serializes the sortable's item id's into an array of string.
          </p>

          <div class="output p-m m white-bg"></div>


      </div>
  </div>


</div>
