<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="card mb-2 fluid">
                <div class="card-header text-white bg-warning col-12 fluid">
                    <div class="row">
                        <div class="col">
                            <h4>Date {{jobRequest?.jobDateStart | date: 'dd-MMM-yyyy'}} </h4>
                            <h4>Start {{jobRequest?.startTime}}  </h4>
                            <h4>finish {{jobRequest?.endTime}} </h4>
                        </div>
                        <div class="col">
                            <h4>{{jobRequest?.grade}}</h4>
                            <h4>{{jobRequest?.attributeDetail}}</h4>
                            <h4>Num Candidate {{jobRequest?.numberCandidate}}</h4>
                        </div>
                        <div class="col">
                            <h4>{{jobRequest?.jobType}}</h4>
                            <h4>{{jobRequest?.clientLocation}}</h4>
                            <a [routerLink]="['/hr-manager/hr-job-request', agencyId]"  style="color: black;" class="btn btn-w-m btn-default"> Back</a>
                            <button [disabled]="buttonDisabled" (click)="sendInvite()" style="color: black;"  class="btn btn-w-m btn-default ml-3"> Send Invite</button>
                            <button (click)="sendAllInvite()" style="color: black;"  class="btn btn-w-m btn-default ml-3"> Send All</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3" *ngFor="let item of candidateToInvites">
            <div class="contact-box center-version">


                <a href="#" class="{{item.isSelected ? 'selected-item' : 'selected-item-white'}}">
                    <img alt="image" class="rounded-circle" src="{{item.photoUrl}}">
                    <h3 class="m-b-xs"><strong>{{item.firstName}} {{item.lastName}}</strong></h3>
                    <div class="font-bold">{{jobRequest?.jobType}}</div>
                    <address class="m-t-md">
                        <strong>{{item?.address1}}</strong><br>
                        {{item?.address2}}<br>
                        <abbr title="Phone">P:</abbr> {{item?.contactNumber}}
                    </address>

                </a>
                <div class="contact-box-footer">
                    <div class="m-t-xs btn-group">
                        <button class="btn btn-xs btn-white" (click)="isSelectedChange(item)" ><i class="fa fa-check"></i> Send request </button>
                    </div>
                </div>

            </div>
        </div>



    </div>
</div>

