<div class="wrapper wrapper-content animated fadeInRight">
     <!-- Info Blocks -->
     <div class="row align-items-stretch no-gutters">
        <div class="col-md-4">
            <!-- Article -->
            <article class="d-flex flex-wrap text-center g-font-size-16">
                <div class="order-2 w-100">
                    <img class="w-100" src="https://htmlstream.com/preview/unify-v2.6.2/assets/img-temp/400x270/img5.jpg" alt="Image Description">
                </div>
                <div class="order-1 w-100 u-ns-bg-v1-bottom g-bg-white g-z-index-1 g-py-100 g-px-50">
                    <h3 class="h5 g-color-primary g-font-weight-700 text-uppercase g-mb-20">We Know Our Job</h3>
                    <p class="mb-0">This is where we sit down, grab a cup of coffee and dial in the details.</p>
                </div>
            </article>
            <!-- End Article -->
        </div>

        <div class="col-md-4">
            <!-- Article -->
            <article class="d-flex flex-wrap text-center g-color-white g-font-size-16">
                <div class="order-1 w-100">
                    <img class="w-100" src="https://htmlstream.com/preview/unify-v2.6.2/assets/img-temp/400x270/img6.jpg" alt="Image Description">
                </div>
                <div class="order-2 w-100 u-ns-bg-v1-top g-bg-primary g-z-index-1 g-py-100 g-px-50">
                    <h3 class="h5 g-mb-20 g-font-weight-700 text-uppercase">We Are The Best</h3>
                    <p class="mb-0">This is where we sit down, grab a cup of coffee and dial in the details.</p>
                </div>
            </article>
            <!-- End Article -->
        </div>

        <div class="col-md-4">
            <!-- Article -->
            <article class="d-flex flex-wrap text-center g-font-size-16">
                <div class="order-2 w-100">
                    <img class="w-100" src="https://htmlstream.com/preview/unify-v2.6.2/assets/img-temp/400x270/img7.jpg" alt="Image Description">
                </div>
                <div class="order-1 w-100 u-ns-bg-v1-bottom g-bg-white g-z-index-1 g-py-100 g-px-50">
                    <h3 class="h5 g-color-primary g-font-weight-700 text-uppercase g-mb-20">We Are Winners</h3>
                    <p class="mb-0">This is where we sit down, grab a cup of coffee and dial in the details.</p>
                </div>
            </article>
            <!-- End Article -->
        </div>
    </div>
    <!-- End Info Blocks -->
</div>
