<div>
    <div class="card mb-2 fluid">
        <div class="card-header col-12 fluid">
            <h4>Login </h4>
        </div>
        <div class="card-body">
            <form role="form">
                <div class="form-group"><label>Email</label> <input type="email" placeholder="Enter email" class="form-control"></div>
                <div class="form-group"><label>Password</label> <input type="password" placeholder="Password" class="form-control"></div>
                <div>
                    <button class="btn btn-sm btn-primary float-right m-t-n-xs" type="submit"><strong>Log in</strong></button>
                    <label> <input type="checkbox" class="i-checks"> Remember me </label>
                </div>
            </form>
        </div>
    </div>
</div>